# Ignore everything
*

#Allowed folders
!cmd
!.github
!.github/workflows
!deploy

# Allowed files
!.github/workflows/*.yml
!deploy/service.tmpl.yaml
!cmd/main.go
!.gitignore
!LICENSE
!README.md
!go.mod
!go.sum
!Dockerfile
!docker-compose.yaml
